<div class="votes" id="votes">
    {# A table with 2 columns showing who has voted whom #}
    <div class="table">
        <div class="header">
            <span class="first">Name</span>
            <span class="second">Vote</span>
            <span class="third">Leben</span>
        </div>
        {% for user in users %}
            {% if user.id != 1 %}
                <div class="row">
                    <span class="first">{{ user.name|capitalize }}</span>
                    {% if user.votedFor == null %}
                        <span class="second"> -&nbsp;&nbsp;</span>
                    {% else %}
                        <span class="second">{{ user.votedFor.name|capitalize }}</span>
                    {% endif %}
                    <span class="third"><span style="display: inline-block; width: 17px; height: 17px; border-radius: 100px; background-color: rgba(34,139,34,0.7); cursor: pointer;" onclick="add_live('{{ user.name|lower }}')">+</span> <span id="{{ user.name|lower }}-lives">{{ user.lives }}</span> <span style="display: inline-block; width: 17px; height: 17px; border-radius: 100px; background-color: rgba(255,0,0,0.7); cursor: pointer;" onclick="remove_live('{{ user.name|lower }}')">-</span></span>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>